<h1>Mis Notas</h1>

<table>
  <thead>
    <tr>
      <th>Asignatura</th>
      <th>Nota</th>
      <th>Comentario</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.subject %></td>
        <td><%= grade.score %></td>
        <td><%= grade.comment %></td>
        <td><%= grade.date_assigned %></td>
      </tr>
    <% end %>
  </tbody>
</table>